{% extends "layout.html" %}

{% block title %}Welcome | Workshop Manager{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block content %}
<div class="home-container">
  <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="home-logo">

  <h1 class="home-heading">Welcome</h1>

  <div class="login-container">
          
    {% if not current_user.is_authenticated %}
    <form method="POST" action="{{ url_for('main.login') }}">
  
      <input type="text", name="username", id="username", class="username-feild" placeholder="Username" required>
  
      <input type="password", name="password", id="password", class="password-feild" placeholder="Password" required>
  
      {% if error %}
      <div class="error-message">{{ error }}</div>
      {% endif %}
  
      <input type="submit" value="Lets go!", class="login-button">
    </form>
  </div>
  <p class="register-link">
    Don’t have an account? <a href="{{ url_for('main.register') }}">Register here</a>
  </p>
</div>
{%endif%}
{% endblock %}
